@charset "utf-8";



.credits, setup{
	width:450px;
	background-color:#111;
	border:1px solid #555;	
	margin:30px auto;
	font-family: 'Alegreya Sans SC', sans-serif;
	color:#fff;
	font-size:14px;
	opacity:0.1;
}

.credits:hover{
	opacity: 1;
	transition:ease-in 0.5s;	
}

.credits .title{
	margin:10px;
	font-size:18px;
	text-align:center;
	background-color:#0A0A0A;
}

.credits > div
{
	margin-left:20px;
	line-height:30px;	
}

.credits  a{
	color:#F90;
	text-decoration:none;
	font-size:14px;
}

.credits  a:hover{
	color:#F90;
	text-decoration:underline;

}

.credits > .repo{

	margin:20px;
	font-size:12px;	
	display:block;
	line-height:14px;
}

.bitbucketAvatar{
	float:left;
	margin-left:20px;
	margin-top:10px
	;margin-right:10px;
	border-radius:50%;
	border:1px solid #000;


}

#shieldContainer{
		
}
#shield {
    position: relative;
    width: 200px;
    height: 200px;
	left:50%;
	margin-top:100px;
	margin-left:-70px;
font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #191919;
    border-radius: 0 0 140px 140px;
    display: inline-block;
	opacity:0.2;
	color:#333;
	line-height:40px;
	text-align:center;
	font-size:24px;
	z-index:1100;
	text-shadow:0 0 1px #000;
}

#shield:hover{
	opacity:1;	
}

#shield:before, #shield:after {
    position: absolute;
    margin-top: 125px;
    content:"";
    left: 100px;
    top: 0;
    width: 100px;
    height: 85px;
    background:#191919;
    border-radius: 100px 100px 0 0;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
#shield:after {
    background-color: #191919;
    left: 0;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin :100% 100%;
}


html {
height:100%;	
}
body {

	background-color:#222;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin:0px;
	padding:0px;
	height:100%;


}

.header {

	background-color:#111;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 110px;
	width: auto;
	-webkit-transition: all;
	-moz-transition: all;
	-ms-transition: all;
	-o-transition: all;
	transition: all;
}
.headerImage {



	height: 110px;
	width:100%;
}
.headerLinkContainer {
	padding-top:5px;
	float:right;
}
.headerLink {
font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	
}

.headerLink:Hover {
	color:#09F;
	text-decoration:overline;
	
}

.headerLinkDiv {
	width:130px;
	text-align:center;
	float:right;
}


/*
 * Logged In Button & Drop Down Menu
 *
 *
 */

.headerUserButton{
	float:right;
	display:inline;
	width:150px;
	color:#000;
	font-size:14px;
	padding:5px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 14px;
	margin:5px;
	background-color:#111;
	text-align:center;
	background: rgb(255,175,75); /* Old browsers */
	
	background: rgb(255,175,75); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(158,125,6,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(158,125,6,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,175,75,1) 0%,rgba(158,125,6,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#9e7d06',GradientType=0 ); /* IE6-9 */
}


.userDropdown {
    position: relative;
    display: inline-block;
}

.userDropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	color:#fff;
	font-family: 'Alegreya Sans SC', sans-serif;
	border-left:1px solid #888;
	border-right:1px solid #888;
	top:24px;
	left:0px;
}

.userDropdown-content .userMenuItem{
	background-color:#333;
	padding:5px;
	font-size:12px;
	text-align:left;
	
}

.userMenuItem:hover{
	background-color:#111;
	padding:5px;
	border-top:1px solid #888;
	border-bottom:1px solid #888;
}

.userDropdown-content a{
	text-decoration:none;
	color:#fff;
}


.userDropdown-content a:hover{
	text-decoration:none;
	color:#09F;
}

.userDropdown:hover .userDropdown-content {
    display: block;

}



