<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
We are sorry you forgot your password, but you can use the link below to automatically login so that you can change it.<br />
{{login-link}}<br />
<br />
Remeber to change your password as soon as you login as this link will no longer work.<br />
Hope your day gets better.
<body>
</body>
</html>
